@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css');
@font-face {
    font-family: 'Godo';
    font-style: normal;
    font-weight: 400;
    src: url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//fastly.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff');
  }
* {
    margin: 0;
    padding: 0;
}
li {
    list-style:none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    line-height: 1;
    color: #333;
    /* font-family: 'SCoreDream';
    font-weight: 400; */
    font-family: 'SUIT', sans-serif;
    background-color: #fff;
}
main section .title h2 {
    font-family: 'Godo';
    font-size: 60px;
    color: #262B9C;
}
main section .title p {
    font-size: 25px;
    color: #262B9C;
    margin-top: 30px;
}
.arrow img{
    width: 44px;
    opacity: 0.5;
}
.fs30 {
    font-size: 30px;
}
.fs40 {
    font-size: 40px;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}
.mt50 {
    margin-top: 50px;
}
.mt70 {
    margin-top: 70px;
}
/* 공통 end */

/* top button */
.wrap {
    position: relative;
}
.topBtn {
    position: fixed;
    bottom: 7%;
    right: 2%;

    display:scroll;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #262B9C;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-weight: 500;
    border: 1px solid #fff;
}

/* header nav */
.header {
    width: 100%;
    background-color: #262B9C;
    height: 100px;
    text-align: center;
    font-family: 'Godo', sans-serif;
    position: fixed;
    z-index: 100;
}
.header .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}
.header .inner .logo {
    width: 150px;
}
.header .inner .logo a img {
    width: 100%;
    object-fit: cover;
}
.header .inner .nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    gap: 50px;
}
.header .inner .nav ul li a {
    display: block;
}
.header .inner .tel h2 {
    font-size: 30px;
}
.header .inner .tel p {
    font-size: 25px;
    margin-top: 10px;
}

/* section main_visual */
.main .main_visual {
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 900px;
    width: 100%;
}
.main .main_visual .main_txt01{
    width: 810px;
    height: 100%;
    position: absolute;
    margin-top: 100px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .main_visual .main_txt01 img {
    width: 100%;
    object-fit: cover;
    position: relative;
}
.main .main_visual .main_txt02{
    width: 1280px;
    height: 800px;
    position: absolute;
    margin-top: 100px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.main .main_visual .main_img {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    z-index: 1;
}
.main .main_visual .main_img img{
    width: 279px;
    height: 281px;
    object-fit: cover;
}
.main .main_visual .main_img img:nth-of-type(2){
    width: 381px;
    height: 380px;
    object-fit: cover;
}

/* section brand01 */
.main .brand01 {
    background: url("../img/bg/bg01.jpg");
    width: 100%;
}
.main .brand01 .inner {
    margin: 0 auto;
}
.main .brand01 .title {
    padding-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.main .brand01 .title h2 {
    color: #fff;
}
.main .brand01 .title img {
    width: 400px;
    object-fit: cover;
    margin-left: 20px;
}
 .main .brand01 .content {
    width: 1280px;
    margin: 0 auto;
}
.main .brand01 .content div {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
}
.main .brand01 .content iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* section brand02  */
.main .brand02 {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .brand02 .inner {
    width: 100%;
    height: 100%;
}
.main .brand02 .inner .content {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 1px solid #262B9C;
    padding: 50px;
}
.main .brand02 .inner .content .article{
    width: 545px;
    height: 349px;
    position: relative;
}
.main .brand02 .inner .content .article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #262B9C;
}
.main .brand02 .inner .content .article::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.7s;
}
.main .brand02 .inner .content .article:hover::before {
    opacity: 1;
}
.main .brand02 .inner .content .article div {
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.7s;
    font-size: 40px;
}
.main .brand02 .inner .content .article:hover div {
    opacity: 1;
}

/* section brand03 */
.main .brand03 {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .brand03 .content {
    width: 100%;
    margin-top: 50px;
}
.main .brand03 .content canvas {
    width: 80%;
}

/* section logo slide */
.main .logo_slide {
    background-color: #262B9C;
    height: 100px;
    overflow: hidden;
}
.main .logo_slide div {
    display: flex;
    justify-content: flex-start;
}
.main .logo_slide div img {
    width: 100%;
    height: 100%;
    animation: logoSlide 20s infinite linear
}
.main .logo_slide div .slide02 {
    right: -100%;
}
@keyframes logoSlide {
    0% {
        transform: translateX(0);
    } /* 시작 */
    100% {
        transform: translateX(-80%);
    } /* 끝 */
}

/* section menu */
.main .menu {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .menu .sub_title {
    margin-top: 50px;
}
.main .menu .sub_title ul {
    display: flex;
    justify-content: center;
}
.main .menu .sub_title ul li {
    position: relative;
    margin-right: 55px;
    font-size: 20px;
}
.main .menu .sub_title ul li:first-child{
    font-weight: 500;
}
.main .menu .sub_title ul li::after{
    content: '';
    width: 1px;
    height: 16px;
    background-color: #262B9C;
    display: block;
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
}
.main .menu .sub_title ul li:last-child{
    margin-right: 0px;
}
.main .menu .sub_title ul li:last-child::after {
    display: none;
}
.main .menu .content .list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.main .menu .content .list .items {
    display: flex;
    justify-content: center;
}
.main .menu .content .list .items div{
    margin: 0 14px;
}
.main .menu .content .list .items div img {
    width: 190px;
    margin-bottom: 25px;
}
.main .menu .content .list .items div p {
    font-size: 20px;
}

/* section r&d rnd */
.main .rnd {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .rnd .title {
    margin-bottom: 50px;
}
.main .rnd .content ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main .rnd .content ul li {
    width: 299px;
    box-sizing: border-box;
}
.main .rnd .content ul li img {
    width: 100%;
    object-fit: cover;
    padding: 14px;
}

/* section story */
.main .story {
    background-color: #262B9C;
    height: 635px;
}
.main .story .inner {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.main .story .title {
    padding-top: 100px;
}
.main .story .title h2{
    font-family: 'Godo', sans-serif;
    font-size: 60px;
    color: #fff;
}
.main .story .content {
    margin-top: 50px;
}
.main .story .content ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #fff;
    padding: 15px;
}
.main .story .content ul li {
    width: 392px;
    height: 318px;
    position: relative;
}
.main .story .content ul li iframe {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
}
.main .story .content ul li div {
    width: 100%;
    padding: 25px 20px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 1px solid #262B9C;
    text-align: left;
}
.main .story .content ul li div p {
    font-size: 20px;
    line-height: 1.5;
}
.main .story .content ul li div h3 {
    font-size: 26px;
    font-weight: normal;
}

/* section profit01 */
.main .profit01 {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .profit01 .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #262B9C;
    width: 100%;
    padding: 65px 25px;
    box-sizing: border-box;
}
.main .profit01 .content ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main .profit01 .content ul li {
    border: 1px solid #262B9C;
    padding: 25px 20px;
    width: 300px;
}
.main .profit01 .content ul li h3{
    font-size: 38px;
    margin-bottom: 20px;
}
.main .profit01 .content ul li hr {
    background-color: #262B9C;
}
.main .profit01 .content ul li p {
    font-size: 16px;
    line-height: 1.5;
}
.main .profit01 .content ul li .txt01{
    margin-top: 10px;
}
.main .profit01 .content ul li .txt02 {
    margin-top: 40px;
}
.main .profit01 .content ul li h4 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

 /* section profit02 */
 .main .profit02 {
    background: url("../img/bg/bg01.jpg");
 }
 .main .profit02 .inner{
    width: 1280px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
 }
 .main .profit02 .inner .title h2{
    color: #fff;
 }
 .main .profit02 .inner .title p{
    color: #fff;
    font-size: 25px;
    line-height: 1.5;
 }
 .main .profit02 .inner .content {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    align-items: center;
 }
 .main .profit02 .inner .content div {
    width: 50%;
 }
 .main .profit02 .inner .content div img {
    width: 100%;
    object-fit: cover;

 }
 .main .profit02 .inner .content .table01 {
    width: 50%;
 }
 .main .profit02 .inner .content .table01 table {
    color: #fff;
    font-size: 25px;
    width: 100%;
    border-spacing: 0px;
 }
 .main .profit02 .inner .content .table01 table tr{
    height: 60px;
 }
 .main .profit02 .inner .content .table01 table thead > tr th{
    border-bottom: 1px solid #fff;
    
 }
 .main .profit02 .inner .content .table01 table tbody tr:nth-child(7) td{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    height: 80px;
 }
 .main .profit02 .inner .content .table01 table > tbody > tr:last-child{
    font-size: 14px;
    text-align: left;
    line-height: 1.3;
 }
 
 /* section information01 */
.main .information01 {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .information01 .title strong{
    font-size: 40px;
    color: #262B9C;
}
.main .information01 .title h2 {
    line-height: 1.3;
    margin-top: 20px;
}
.main .information01 .content {
    margin-top: 50px;
}
.main .information01 .content ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.main .information01 .content ul li {
    border: 2px solid #262B9C;
    width: 200px;
    /* width: 280px;
    height: 280px; */
    padding: 50px;
    color: #262B9C;
}
.main .information01 .content ul li img {
    width: 70px;
    fill: #262B9C;
}
.main .information01 .content ul li h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.3;
}
.main .information01 .content ul li p {
    font-size: 20px;
    line-height: 1.3;
}
/* section information02 */
.main .information02 {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
.main .information02 .content {
    margin-top: 50px;
}
.main .information02 .content .table02 {
    border: 1px solid #262B9C;
    width: 844px;
    margin: 0 auto;
    padding: 40px 81px;
}
.main .information02 .content .table02 table {
    width: 100%;
    border-spacing: 0px;
}
.main .information02 .content .table02 table tr {
    height: 70px;
}
.main .information02 .content .table02 table tr th {
    text-align: left;
    border-bottom: 1px solid #262B9C;
    padding-left: 30px;
    font-size: 25px;
}
.main .information02 .content .table02 table tr td {
    border-bottom: 1px solid #262B9C;
    text-align: right;
    padding-right: 30px;
    font-size: 25px;
}
.main .information02 .content .table02 table tr:first-child {
    height: 11px;
}
.main .information02 .content .table02 table tr:first-child td{
    border: 0;
}
.main .information02 .content .table02 table tr td span {
    font-size: 11px;
    margin-bottom: 10px;
    text-align: right;
}
.main .information02 .content .table02 table tr td del {
    margin-left: 20px;
}
.main .information02 .content .table02 table tr:last-child th{
    font-size: 11px;
    padding-right: 30px;
    border-bottom: 0;
}
.main .information02 .content .table02 table tr:nth-child(11) th{
    font-size: 40px;
    color: #262B9C;
    border-top: 2px solid #262B9C;
    font-weight: 700;
}
.main .information02 .content .table02 table tr:nth-child(11) td{
    color: #262B9C;
    border-top: 2px solid #262B9C;
    font-size: 40px;
    font-weight: 700;
}
.main .information02 .content .table02 table tr:nth-child(11) td del {
    font-size: 25px;
    color: #000;
    margin-right: 20px;
}

/* section support */
.main .support {
    background-color: #262B9C;
    margin: 150px 0;
    text-align: center;
}
.main .support .inner {
    padding: 150px 0;
    width: 1280px;
    margin: 0 auto;
}
.main .support .inner .title h2 {
    color: #fff;
    margin-bottom: 20px;
}
.main .support .inner .title p {
    color: #fff;
    margin-bottom: 50px;
}
.main .support .inner .content ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.main .support .inner .content ul li {
    background-color: #fff;
    color: #262B9C;
    padding: 50px;
    font-size: 40px;
    box-sizing: border-box;
    width: 517px;
/*     height: 302px; */
    position: relative;
}
.main .support .inner .content ul li hr {
    width: 100%;
}
.main .support .inner .content ul li span {
    font-size: 24px;
    position: absolute;
    top: 38%;
    left: 38%;
}
.main .support .inner .content ul li p {
    font-weight: 800;
    padding-top: 40px;
    box-sizing: border-box;
    border-top: 1px solid #262B9C;
    margin-top: 70px;
   /*  position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* section form */
.main .form {
    width: 1280px;
    margin: 150px auto;
    text-align: center;
}
.main .form .content {
    margin: 50px auto;
    border: 1px solid #262B9C;
    width: 844px;
    padding: 50px 80px 30px 80px;
    font-size: 25px;
    box-sizing: border-box;
}
.main .form .form_row {
    /* display: flex; */
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.main .form .form_row .form_label {
    position: absolute;
    top: 10%;
    left: 3%;
    color: #262B9C;
}
.main .form .form_row input[type=text] {
    border: 0;
    font-size: 25px;
    padding: 5px 10px 15px 200px;
    border-bottom: 2px solid #262B9C;
    outline: none;
    width: 100%;
    color: #262B9C;
    box-sizing: border-box;
}
.main .form .form_row input[type=text]:focus, input[type=text]:active {
    border-color: transparent;
    border-bottom: 2px solid #262B9C;
}

.main .form .form_radio {
    border-bottom: 2px solid #262B9C;
    padding-bottom: 15px;
    display: flex;
    color: #262B9C;
    padding-left: 3%;
    margin-bottom: 20px;
    gap: 50px;
}
.main .form .form_radio .select {
    width: 200px;
    margin-left: 100px;
    font-size: 20px;
    padding: 5px 10px;
}
.main .form .form_txt {
    font-size: 25px;
    color: #262B9C;
    text-align: left;
    padding-left: 3%;
    width: 100%;
}
.main .form .form_area {
    margin: 20px;
}
.main .form .form_area textarea {
    width: 100%;
    resize: none;
    border: 1px solid #262B9C;
    font-size: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.main .form .form_chk {
    font-size: 16px;
    position: relative;
    width: 100%;
}
.main .form .form_chk div {
    position: absolute;
    right: 20px;
}
.form_btn {
    width: 190px;
    padding: 10px 20px;
    background-color: #262B9C;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    margin-top: 60px;
}
.footer {
    background-color: #262B9C;
    color: #fff;
}
.footer div {
    width: 1280px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.footer div ul li {
    font-size: 16px;
    line-height: 2;
}
.footer div ul li a {
    display: block;
    text-align: right;
}

/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) { 
    .header .inner{
        width: 1024px;
    }
    .header .inner .nav ul{
        gap: 30px;
    }
    .main .main_visual .main_txt01{
        width: 810px;
    }
    .main .main_visual .main_txt02{
        width: 710px;
    }
    .main .main_visual .main_img {
        width: 1024px;
        gap: 20px;
    }
    .main .main_visual .main_img img{
        width: 250px;
        height: 251px;
        object-fit: cover;
    }
    .main .main_visual .main_img img:nth-of-type(2){
        width: 321px;
        height: 320px;
        object-fit: cover;
    }
    .main {
        width: 1280px;
    }
    .main .brand02 {
        width: 1024px;
    }
    .main .brand02 .inner .content .article {
        width: 445px;
        height: 249px;
    }
    .main .brand02 .inner .content .article img{
        object-fit: contain;
    }
    .main .brand03 .content {
        margin: 50px;
    }
    .main .menu{
        width: 1024px;
    }
    .main .menu .content .list .items div img {
        width: 150px;
        margin-bottom: 25px;
    }
    .main .rnd {
        width: 1024px;
    }
    .main .rnd .content ul li {
        width: 240px;
    }
    .main .story .inner{
        width: 1024px;
    }
    .main .story .title{
        padding-top: 80px;
    }
    .main .story .content ul li div h3{
        font-size: 20px;
    }
    .main .profit01 {
        width: 1024px;
    }
    .main .profit01 .content{
        padding: 55px 15px;
    }
    .main .profit01 .content ul li{
        width: 220px;
    }
    .main .profit01 .content ul{
        gap: 20px;
    }
    .main .profit01 .content ul li h3{
        font-size: 28px;
    }
    .main .profit01 .content ul li h4{
        font-size: 35px;
        font-weight: 700;
    }
    .main .profit02 .inner{
        width: 1024px;
    }
    .main .information01 {
        width: 1024px;
    }
    .main .information02 {
        width: 1024px;
    }
    .main .support .inner {
        width: 1280px;
    }
    .main .form {
        width: 1024px;
    }
    .footer {
        width: 1280px;
    }
    .footer div{
        width: 1024px;
    }
    .topBtn{
        right: 5%;
    }
} 

/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
    .header .inner{
        width: 768px;
    }
    .header .inner .nav ul{
        gap: 30px;
        display: none;
    }
    .main {
        width: 1280px;
    }
    .main .main_visual .main_txt01{
        width: 810px;
    }
    .main .main_visual .main_txt02{
        width: 710px;
    }

    .main .main_visual .main_img {
        width: 1024px;
        gap: 20px;
    }
    .main .main_visual .main_img img{
        width: 250px;
        height: 251px;
        object-fit: cover;
    }
    .main .main_visual .main_img img:nth-of-type(2){
        width: 321px;
        height: 320px;
        object-fit: cover;
    }
    .main .brand02 {
        width: 1024px;
    }
    .main .brand02 .inner .content {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
        border: 1px solid #262B9C;
        padding: 50px;
        flex-wrap: wrap;
        gap: 30px;
    }
    .main .brand02 .inner .content .article {
        width: 768px;
        height: 445px;
    }
    .main .brand02 .inner .content .article img{
        object-fit: contain;
    }
    .main .brand03{
        width: 1024px;
    }
    .main .brand03 .content {
        margin: 50px;
    }
    .main .menu{
        width: 1024px;
    }
    .main .menu .content .list .items div img {
        width: 150px;
        margin-bottom: 25px;
    }
    .main .rnd {
        width: 1024px;
    }
    .main .rnd .content ul li {
        width: 240px;
    }
    .main .story .inner{
        width: 1024px;
    }
    .main .story .title{
        padding-top: 80px;
    }
    .main .story .content ul li div h3{
        font-size: 20px;
    }
    .main .profit01 {
        width: 1024px;
    }
    .main .profit01 .content{
        padding: 55px 15px;
    }
    .main .profit01 .content ul li{
        width: 220px;
    }
    .main .profit01 .content ul{
        gap: 20px;
    }
    .main .profit01 .content ul li h3{
        font-size: 28px;
    }
    .main .profit01 .content ul li h4{
        font-size: 35px;
        font-weight: 700;
    }
    .main .profit02 .inner{
        width: 1024px;
    }
    .main .information01 {
        width: 1024px;
    }
    .main .information02 {
        width: 768px;
    }
    .main .information02 .content .table02 {
        width: 700px;
        padding: 20px 40px;
    }
    .main .support .inner {
        width: 1280px;
    }
    .main .form {
        width: 768px;
    }
    .main .form .content{
        width: 700px;
        padding: 40px;
    }
    .main .form .form_radio .select{
        width: 100px;
    }
    .footer {
        width: 1280px;
    }
    .footer div{
        width: 768px;
    }
    .topBtn{
        right: 5%;
    }
} 

/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    .header .inner{
        width: 768px;
    }
    .header .inner .nav ul{
        gap: 30px;
        display: none;
    }
    .main {
        width: 1280px;
    }
    .main .main_visual .main_txt01{
        width: 810px;
    }
    .main .main_visual .main_txt02{
        width: 710px;
    }

    .main .main_visual .main_img {
        width: 1024px;
        gap: 20px;
    }
    .main .main_visual .main_img img{
        width: 250px;
        height: 251px;
        object-fit: cover;
    }
    .main .main_visual .main_img img:nth-of-type(2){
        width: 321px;
        height: 320px;
        object-fit: cover;
    }
    .main .brand02 {
        width: 1024px;
    }
    .main .brand02 .inner .content {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        position: relative;
        border: 1px solid #262B9C;
        padding: 50px;
        flex-wrap: wrap;
        gap: 30px;
    }
    .main .brand02 .inner .content .article {
        width: 768px;
        height: 445px;
    }
    .main .brand02 .inner .content .article img{
        object-fit: contain;
    }
    .main .brand03{
        width: 1024px;
    }
    .main .brand03 .content {
        margin: 50px;
    }
    .main .menu{
        width: 1024px;
    }
    .main .menu .content .list .items div img {
        width: 150px;
        margin-bottom: 25px;
    }
    .main .rnd {
        width: 1024px;
    }
    .main .rnd .content ul li {
        width: 240px;
    }
    .main .story .inner{
        width: 1024px;
    }
    .main .story .title{
        padding-top: 80px;
    }
    .main .story .content ul li div h3{
        font-size: 20px;
    }
    .main .profit01 {
        width: 1024px;
    }
    .main .profit01 .content{
        padding: 55px 15px;
    }
    .main .profit01 .content ul li{
        width: 220px;
    }
    .main .profit01 .content ul{
        gap: 20px;
    }
    .main .profit01 .content ul li h3{
        font-size: 28px;
    }
    .main .profit01 .content ul li h4{
        font-size: 35px;
        font-weight: 700;
    }
    .main .profit02 .inner{
        width: 1024px;
    }
    .main .profit02 .inner .content{
        flex-wrap: wrap;
    }
    .main .profit02 .inner .content div{
        width: 80%;
    }
    .main .profit02 .inner .content .table01 {
        width: 80%;
        margin-top: 30px;
     }
    .main .information01 {
        width: 1024px;
    }
    .main .information02 {
        width: 768px;
    }
    .main .information02 .content .table02 {
        width: 700px;
        padding: 20px 40px;
    }
    .main .support .inner {
        width: 1280px;
    }
    .main .form {
        width: 768px;
    }
    .main .form .content{
        width: 700px;
        padding: 40px;
    }
    .main .form .form_radio .select{
        width: 100px;
    }
    .footer {
        width: 1280px;
    }
    .footer div{
        width: 768px;
    }
    .topBtn{
        right: 5%;
    }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {

}